body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    width: 500px;
    height: 500px;
    border: 10px solid tomato;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quadrado {
    width: 100px;
    height: 100px;
}

.quadrado:nth-child(odd) {
    background-color: lightgray;
}

.quadrado:nth-child(even) {
    background-color: black;
}
